<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJS1mZQEfAe6f7jGXp3iSvYq7bruCGq-c</string>
	<key>GCM_SENDER_ID</key>
	<string>114214313555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFoodApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-food-deliver-app-28227</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-food-deliver-app-28227.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114214313555:ios:4e0c94937d277accbeb0a6</string>
</dict>
</plist>